<div class="container">
  <div class="row">
    <div class="navbar navbar-inverse">
      <div class="navbar-header">
          <a class="navbar-brand" href="/index">Soobin's Vault</a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
              <li class="active">
                  <a href="/diary">Diary</a>
              </li>
              <li>
                  <a href="">ToDo</a>
              </li>
              <li>
                  <a href="">Photos</a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <form action="/posts/<%= @posts.id %>/update" method="POST">
      <br>
      <h1 style="line-height: 0;">Edit Post</h1><hr>
      
      <div class="form-group">
        <input type="text" name="title" class="form-control" id="inputTitle" value="<%= @posts.title %>">
        </div>
        
        <div class="form-group">
        <input type="text" name="username" class="form-control" id="inputUsername" value="<%= @posts.username %>">
        </div>
        
        <textarea class="form-control" name="content" rows="5" placeholder="Content"><%= @posts.content %></textarea><br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>